*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px;
  width: 200px;
  height: 300px;

  background-color: pink;
  gap: 30px;
}

.container_content_line1,.container_content_line2{
  display: flex;
  gap: 20px;
  margin-top: 8px;
}


.input1,.input2{
  width: 100px;
  height: 40px;
  text-align: center;
  box-shadow: 2px 2px;
}

.button3{
  width: 100px;
  height: 40px;
  box-shadow: 2px 2px;
  background-color: aquamarine;
}

.answer{
  background-color: white;
}